html,
body {
    height: 100%;
}


body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #6c6f73;
}

h1,h2,h3,h4,h5 {
    color: #d3a241;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

img {
    max-width: 100%;
}


.blockquote {
    font-size: 1.6rem;
    color: #3b413c;
    border: none;
    padding: 0;
}

.blockquote-footer {
    margin: 1rem 0 0;
}

#stage {
    background: url('../img/hero.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.justify-center {
    justify-content: center;
}



#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    
}

#stage-caption h1 {
    color: #fffaff;
    font-weight: bold;
    text-transform: uppercase;
}

#stage-caption>p {
    color: #fffaff;
    font-weight: 400;
}

.feature-content {
    padding: 3rem 0;
    overflow: hidden;

}
.feature-dark {
    background-color: #050401;
    color: #fffaff;
}

.feature-dark h2 {
    color: #fffaff;
}
.black-bg {
    background: #050401;
    color: #fffaff;
}

#main-footer {
    background-color: #050401;
    color: #fffaff;
    padding: 3rem 0;
    font-size: 0.8rem;

}

#main-footer h6 {
    color: #d3bfd3;
}

#main-footer a{
    color: #fffaff;
}

.fab {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.nav-link {
    font-size: 1.1rem;
    
}


 
.mar-top {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.black-text {
    color: #050401;
}


.text-underline {
    border-bottom: solid 2px #050401;
}
  

@media screen and (min-width: 768px) {
    .h-screen {
        height: 700px;
    }
}

@media screen and (max-width : 767px)  {
    .h-screen {
        height: 201px;
    }
}

@media screen and (max-width : 767px ) {
    .pad-top {
    padding-top: 0.5rem;
}

}



@media screen and (min-width: 768px) {
    .nav-link:hover {
        border-bottom: solid 1px #d3a241;
    }
}